body {
    background-color: #222222;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 570px;
    width: 100vw;
    margin-left: -8px;
    margin-top: -7px;
    background-image: url(images/pizzakep.jpg);
    background-size: cover;
    background-position: center;
}


.header_nav {
    display: flex;
}

header h2 {
    color: white;
    font-weight: 100;
    font-size: 32px;
    position: relative;
    top: 30px;
    left: 50px;
}

header p {
    color: white;
    font-weight: 100;
    cursor: pointer;
    top: 30px;
    left: 1400px;
    position: relative;
}

.content-1 {
    display: grid;
    grid-template-areas: 
    "content_h3 szoveg_p"
    "tortenet_p telefon";
    grid-template-columns: 200px 500px;
    grid-template-rows: 120px ;
    column-gap: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    justify-self: center;
    position: relative;
}

.content-1 .pizza_p {
    grid-area: content_h3;
    justify-self: end;
    font-size: 20px;
    position: relative;
    top: -5px;
}

.content-1 .tortenet_p {
    grid-area: tortenet_p;
    position: absolute;
    top: -88px;
    right: 1px;
    color: #a7a7a7;
    font-size: 12px;
}

.content-1 .szoveg_p {
    grid-area: szoveg_p;
    color: #a6a6a6;
}

.content-1 h4{
    grid-area: telefon;
    position: absolute;
}


.content-2 {
    text-align: center;
    width: 100vw;
    margin-left: -8px;
    margin-top: 100px;
    background-color: black;
}

.content-2 .menu_h3 {
    padding-top: 40px;
    font-size: 32px;
}

.content-2 .ajanlat_p {
    opacity: 0.6;
    bottom: 25px;
    position: relative;
}

.content-2 .szoveg_p {
    bottom: 25px;
    position: relative;
} 

.content-2_blokkok {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pizza_blokk {
    border-radius: 1px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding-left: 34px;
    padding-right: 34px;
    height: 40px;
    font-size: 13px;
}

.menu_blokk {
    border-radius: 1px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding-left: 34px;
    padding-right: 34px;
    height: 40px;
    font-size: 13px;
}

.italok_blokk {
    border-radius: 1px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding-left: 34px;
    padding-right: 34px;
    height: 40px;
    font-size: 13px;
}