.container {
    max-width: 1200px;
}

header {
    height: 420px;
    width: 100vw;
    margin-left: -5px;
    margin-top: -7px;
}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

header h3 {
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
}