body,html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    color: white;
    font-family: sans-serif;
}

header {
    height: 570px;
    width: 99vw;
    margin-left: 0;
    margin-top: -7px;
    background-image: url(images/pizzakep.jpg);
    background-size: cover;
    background-position: center;
}


.header_nav {
    display: flex;
}

header h2 {
    color: white;
    font-weight: 100;
    font-size: 32px;
    position: relative;
    top: 30px;
    left: 50px;
}

header p {
    color: white;
    font-weight: 100;
    cursor: pointer;
    top: 30px;
    left: 1400px;
    position: relative;
}

header .header_kezdolap {
    left: 69vw;
}

header .header_menu {
    left: 70vw;
    opacity: 0.6;
}

header .header_rolunk {
    left: 71vw;
    opacity: 0.6;
}

header .header_kapcsolat {
    left: 72vw;
    opacity: 0.6;
}

.content-1 {
    display: grid;
    grid-template-areas: 
    "content_h3 szoveg_p"
    "tortenet_p telefon";
    grid-template-columns: 250px 500px;
    grid-template-rows: 120px ;
    column-gap: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    justify-self: center;
    position: relative;
}

.content-1 .pizza_p {
    grid-area: content_h3;
    justify-self: end;
    font-size: 20px;
    position: relative;
    top: -5px;
    left: -95px;
}

.content-1 .pizza2_p {
    grid-area: content_h3;
    justify-self: end;
    font-size: 20px;
    position: relative;
    top: -5px;
    
}

.content-1 .tortenet_p {
    grid-area: tortenet_p;
    position: absolute;
    top: -88px;
    right: 1px;
    color: #a7a7a7;
    font-size: 15px;
}

.content-1 .szoveg_p {
    grid-area: szoveg_p;
    color: #a6a6a6;
}

.content-1 h4{
    grid-area: telefon;
    position: absolute;
    top: 10px;
}


.content-2 {
    text-align: center;
    width: 99vw;
    margin-left: -8px;
    margin-top: 100px;
    background-color: black;
}

.content-2 .menu_h3 {
    padding-top: 40px;
    font-size: 32px;
}

.content-2 .ajanlat_p {
    opacity: 0.6;
    bottom: 25px;
    position: relative;
}

.content-2 .szoveg_p {
    bottom: 25px;
    position: relative;
} 

.content-2_blokkok {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
}

.content-2_blokkok p:hover {
    cursor: pointer;
}

.pizza_blokk {
    border-radius: 1px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding-left: 45px;
    padding-right: 45px;
    height: 40px;
    font-size: 13px;
}

.menu_blokk {
    border-radius: 1px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding-left: 45px;
    padding-right: 45px;
    height: 40px;
    font-size: 13px;
}

.italok_blokk {
    border-radius: 1px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding-left: 45px;
    padding-right: 45px;
    height: 40px;
    font-size: 13px;
}

.content-3 {
    text-align: center;
    margin-top: 70px;
    margin-left: -8px;
    width: 99vw;
}

.content-3 .special_p {
    font-size: 32px;
}

.content-3 .tokeletes_p {
    opacity: 0.6;
    position: relative;
    bottom: 20px;
}

.content-3 .special_container {
    display: grid;
    grid-template-areas:
    "pizza_1 pizza_1 marhapecsenye"
    "salata pizza_2 marhapecsenye"
    "salata pizza_2 eloetel"
    ". . eloetel";
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto auto 200px auto;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}

.content-3 .pizza_1 {
    grid-area: pizza_1;
}
.content-3 .marhapecsenye {
    grid-area: marhapecsenye;
}
.content-3 .salata {
    grid-area: salata;
}
.content-3 .pizza_2 {
    grid-area: pizza_2;
}
.content-3 .eloetel {
    grid-area: eloetel;
    height: 230px;
}

.content-3 .special_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-3 .special_container p {
    position: relative;
    top: -55px;
    font-size: 20px;
    font-style: italic;
}

footer{
    width: 99vw;
    background-color: black;
    margin-left: -8px;
}

.footer_container {
    display: flex;
    justify-self: center;
    background-color: black;
    gap: 40px;
    padding-top: 60px;
}

footer .szeretet_p {
    font-size: 28px;
    text-align: right;
    position: relative;
    bottom: 10px;
}

footer .nyitva_p {
    font-size: 20px;
}

footer .nyitvatartas_p {
    font-size: 24px;
    opacity: 0.6;
}

footer .foglalas_p {
    text-decoration: white underline;
    color: white;
    font-size: 24px;
}

footer .footer_szoveg {
    opacity: 0.6;
    font-size: 24px;
}

.vonal {
    opacity: 0.6;
}

.footer_2 {
    justify-self: center;
    text-align: center;
    background-color: black;
    width: 99vw;
    padding-top: 100px;
}

.footer_2_piadina {
    padding-top: 40px;
    padding-bottom: 70px;
    margin-bottom: -8px;
    font-size: 20px;
    opacity: 0.6;
}


/*md*/

@media (max-width: 750px) {
    .content-1 {
        display: grid;
        grid-template-areas: 
        "content_h3 szoveg_p"
        "tortenet_p telefon";
        grid-template-columns: 100px 500px;
        grid-template-rows: 120px ;
        column-gap: 30px;
        padding-top: 40px;
        padding-bottom: 10px;
        justify-self: center;
        position: relative;
    }
    
    .content-1 .pizza_p {
        grid-area: content_h3;
        justify-self: end;
        font-size: 20px;
        position: relative;
        top: -5px;
        left: 0;
    }

    .content-1 .pizza2_p {
        grid-area: content_h3;
        justify-self: end;
        font-size: 20px;
        position: relative;
        top: 20px;
    }
    
    .content-1 .tortenet_p {
        grid-area: tortenet_p;
        position: absolute;
        top: -65px;
        right: 1px;
        color: #a7a7a7;
        font-size: 15px;
    }
    
    .content-1 .szoveg_p {
        grid-area: szoveg_p;
        color: #a6a6a6;
    }
    
    .content-1 h4{
        grid-area: telefon;
        position: absolute;
        top: 10px;
    }


    .content-3 {
        text-align: center;
        margin-top: 70px;
        margin-left: -8px;
        width: 99vw;
    }
    
    .content-3 .special_p {
        font-size: 32px;
    }
    
    .content-3 .tokeletes_p {
        opacity: 0.6;
        position: relative;
        bottom: 20px;
    }
    
    .content-3 .special_container {
        display: grid;
        grid-template-areas:
        "pizza_1 pizza_1 marhapecsenye"
        "salata pizza_2 marhapecsenye"
        "salata pizza_2 eloetel"
        ". . eloetel";
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto auto 200px auto;
        justify-content: center;
        gap: 40px;
        padding-bottom: 100px;
    }
    
    .content-3 .pizza_1 {
        grid-area: pizza_1;
    }
    .content-3 .marhapecsenye {
        grid-area: marhapecsenye;
    }
    .content-3 .salata {
        grid-area: salata;
    }
    .content-3 .pizza_2 {
        grid-area: pizza_2;
    }
    .content-3 .eloetel {
        grid-area: eloetel;
        height: 200px;
    }
    
    .content-3 .special_container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .content-3 .special_container p {
        position: relative;
        top: -55px;
        font-size: 20px;
        font-style: italic;
    }
}