body {
    background-color: #222222;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1200px;
}

header {
    height: 420px;
    width: 100vw;
    margin-left: -8px;
    margin-top: -7px;
}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

header h2 {
    position: absolute;
    top: 5px;
    left: 30px;
    color: white;
    font-weight: 100;

}

header p {
    position: absolute;
    top: 10px;
    right: 270px;
    color: white;
}

.header_szoveg {
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    opacity: 0.7;
}


.content-1 {
    display: grid;
    grid-template-areas: 
    "content_h3 szoveg_p"
    "tortenet_p telefon";
    grid-template-columns: minmax(auto ,200px) minmax(auto ,500px);
    grid-template-rows: 120px ;
    column-gap: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    justify-self: center;
    position: relative;
}

.content-1 .pizza_p {
    grid-area: content_h3;
    justify-self: end;
    font-size: 20px;
    position: relative;
    top: -5px;
}

.content-1 .tortenet_p {
    grid-area: tortenet_p;
    position: absolute;
    top: -88px;
    right: 1px;
    color: #a7a7a7;
    font-size: 12px;
}

.content-1 .szoveg_p {
    grid-area: szoveg_p;
    color: #a6a6a6;
}

.content-1 h4{
    grid-area: telefon;
    position: absolute;
}


.content-2 {
    display: grid;
    grid-template-areas: 
    "menu menu menu"
    "ajanlat ajanlat ajanlat"
    "szoveg szoveg szoveg"
    "pizza_blokk menu_blokk italok_blokk";
    width: 100vw;
    justify-items: center;
    margin-left: -8px;
    margin-top: 100px;
    background-color: black;
}

.content-2 .menu_h3 {
    grid-area: menu;
}

.content-2 .ajanlat_p {
    grid-area: ajanlat;
}

.content-2 .szoveg_p {
    grid-area: szoveg;
}


.content-2 .pizza_blokk {
    grid-area: pizza_blokk;
}

.content-2 .menu_blokk {
    grid-area: menu_blokk;
}

.content-2 .italok_blokk {
    grid-area: italok_blokk;
}