body {
    background-color: #222222;
}

.container {
    max-width: 1200px;
}

header {
    height: 420px;
    width: 100vw;
    margin-left: -8px;
    margin-top: -7px;
}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

header h2 {
    position: absolute;
    top: 5px;
    left: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

header p {
    position: absolute;
    top: 10px;
    right: 270px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_szoveg {
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.7;
}


.content-1 {
    display: grid;
    grid-template-areas: 
    "content_h3 szoveg_p"
    "tortenet_p telefon";
    grid-template-columns: minmax(auto ,200px) minmax(auto ,500px);
    grid-template-rows: 120px ;
    column-gap: 30px;
    justify-self: center;
    color: white;
    position: relative;
}

.content-1 h3 {
    grid-area: content_h3;
    justify-self: end;
}

.content-1 .tortenet_p {
    grid-area: tortenet_p;
    position: absolute;
    top: -90px;
    right: 5px;
    color: #a7a7a7;
    
}

.content-1 .szoveg_p {
    grid-area: szoveg_p;
}

.content-1 h4{
    grid-area: telefon;
    position: absolute;
}